<h1>K.Z Art</h1>
<h2>Welcome to K.Z Art. <br><br></h2>
<body>
	<p>
	Katie Zobel is a young and inspiring artist. Born and raised in Fishers Indiana, Katie had a knack for art from a young age and began when her grandfather insisted it would be a great thing for her to take art lessons. So at the ever so young age of 6, Katie began her art career for which it has blossumed and bloomed ever since. </p>
	
	<p>
	Katie does a variety of work and for a small extra fee will even do a custom piece if requested ! Types of art work available are : painting, drawing, shoe art, pastel, digital drawings and watercolor. For anything additional, contact the artist. </p>
</body>
<br>
<body>
Contact the artist - Katiezobel@ ( fill in email.com )
</body>

