<div class="center">
<h1>Contact the Artist</h1>


<p>	Email : Kt.zobel@gmail.com </p>

<p> Follow the artist : 
	<br>

<!-- for facebook  ( add icons for each )-->
<a href="https://www.facebook.com/"> Facebook </a> <br>
<!-- for linkedin  -->
<a href="https://www.linkedin.com/profile/view?id=423705821&authType=NAME_SEARCH&authToken=hL-i&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A423705821%2CauthType%3ANAME_SEARCH%2Cidx%3A1-4-4%2CtarId%3A1438196740339%2Ctas%3Azobel"> Linkedin</a><br>
<!-- for twitter  -->
<a href="https://twitter.com/"> Twitter </a>  <br>
<!-- for instagram  -->
<a href="https://instagram.com///"> Instagram </a> <br>
<!-- for amazon  -->
<a href="https://www.amazon.com/gp/gw/ajax/s.html"> Amazon </a> 
</p>

</div>