<h1>Contact the Artist</h1>
<p> Mailing : 123 fan_mail_address, Indiana PA, 1234</p>
<p>	Email : 1234_katies_eamil_ here_@gmail.com</p>
<p> Phone # 123 -  123 - 1234 </p>
<p> Follow the artist : 
	<br><br>

<!-- insert href links   <a href=""></a>    -->

- facebook link <br>
- linkedin <br>
- twitter <br>
- instagram <br>
- any additional accounts <br>

</p>

