<div class="center">
	<h1>Resume</h1>
</div>
<br>
<br>


<h3>Education</h3>

<p> <a href="http://www.iup.edu/"> Indiana University of Pennsylvania </a><br> 
	Bachelor of Arts (B.A.), Fine and Studio Arts 
	2012 – 2016</p><br>


	<h3> Current Employment </h3>

	<p> Entertainment Network Executive & Graphic Designer <br> <br>

		Helped coordinate and plan concerts, comedian shows, and organization sponsored trips. Designed posters, handbills, web ads, banners, and logo design. Executed advertising and marketing to promote shows. </p>
		<br> 

		<h3>Groups & Organizations </h3><br> 

		<p> Sigma Kappa - President (2013-2015) <br> 
		 Sigma Kappa - Social Coordinator (2013)</p> 

		<p>
			Oversaw chapter and officer responsibilities. Acted as the direct line of communication between advisors and National Headquarters. Sponsored several charity events. Promoted positive public relations on social media. Filed monthly reports and completed tasks in a timely manner.
			
			 </p>
		</br> 

 <h3>Skills</h3>
			<ul> 
				Illustration,
				Digital Illustration, 
				Photoshop,
				InDesign,
			Flash Animation,
				Painting,
				Drawing,
				Graphic Design
			
</ul> 