<h1>Resume Portfolio</h1>

<h2>Education</h2>

<h3> Indiana University of Pennsylvania </h3>
<h3> Bachelor of Arts (B.A.), Fine and Studio Arts 
2012 – 2016 </h3>

<br>
<p> Currently the Entertainment Network Executive Graphic Designer: Helped coordinate and plan concerts, comedian shows, and organization sponsored trips. Designed posters, handbills, web ads, banners, and logo design. Executed advertising and marketing to promote shows. </p>

<p> Sigma Kappa President: Oversaw chapter and officer responsibilities, direct line of communication between advisors and National Headquarters. Sponsored several charity events. Promoted positive public relations on social media. Filed monthly reports and completed tasks in a timely manner
Activities and Societies: Sigma Kappa President (2013-2015), Sigma Kappa Social Coordinator (2013), The Entertainment Network Executive Graphic Designer. </p>
</br> 
<li> Skills : 
<ul> 
Illustration,
Digital Illustration, 
Photoshop,
InDesign,
Flash Animation,
Painting,
Drawing,
Graphic Design,

</li>
</ul> 