<p>Website Created By : <a href="http://samzobel.com/"> Sam Zobel <br>Copyright 2015</br> </a> <br></p>
<!-- <%= 'website by: Samuel Zobel ( click to contact )' %> -->
<!-- make this a hyperlink above to my personal website and possibly direct it straight to my calendar and freelance pages -->
